<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,59}</string>
                <key>spriteSourceSize</key>
                <string>{80,59}</string>
                <key>textureRect</key>
                <string>{{154,1},{80,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulletcase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,9}</string>
                <key>spriteSourceSize</key>
                <string>{21,9}</string>
                <key>textureRect</key>
                <string>{{137,40},{21,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jump_halo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,42}</string>
                <key>spriteSourceSize</key>
                <string>{188,94}</string>
                <key>textureRect</key>
                <string>{{1,40},{134,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>razer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{151,37}</string>
                <key>spriteSourceSize</key>
                <string>{201,81}</string>
                <key>textureRect</key>
                <string>{{1,1},{151,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>body_fx.png</string>
            <key>size</key>
            <string>{214,83}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d72f814036dcf5eb72b70bb12887ea82:38fcbcfd6261401dd161961d45e8f161:26b8f3f82d0c4138a2519396b68a1cdb$</string>
            <key>textureFileName</key>
            <string>body_fx.png</string>
        </dict>
    </dict>
</plist>
