<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bodyBlack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,149}</string>
                <key>spriteSourceSize</key>
                <string>{97,149}</string>
                <key>textureRect</key>
                <string>{{0,0},{97,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bodyBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,149}</string>
                <key>spriteSourceSize</key>
                <string>{97,149}</string>
                <key>textureRect</key>
                <string>{{0,149},{97,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bodyGreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,149}</string>
                <key>spriteSourceSize</key>
                <string>{97,149}</string>
                <key>textureRect</key>
                <string>{{0,298},{97,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bodyPink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,149}</string>
                <key>spriteSourceSize</key>
                <string>{98,149}</string>
                <key>textureRect</key>
                <string>{{0,447},{98,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bodyPurple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,149}</string>
                <key>spriteSourceSize</key>
                <string>{98,149}</string>
                <key>textureRect</key>
                <string>{{0,596},{98,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bodyRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,149}</string>
                <key>spriteSourceSize</key>
                <string>{97,149}</string>
                <key>textureRect</key>
                <string>{{0,745},{97,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bodyWhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,149}</string>
                <key>spriteSourceSize</key>
                <string>{97,149}</string>
                <key>textureRect</key>
                <string>{{0,894},{97,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bodyYello.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,149}</string>
                <key>spriteSourceSize</key>
                <string>{97,149}</string>
                <key>textureRect</key>
                <string>{{0,1043},{97,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feetYello.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{54,33}</string>
                <key>textureRect</key>
                <string>{{0,1192},{54,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feetBlack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{54,33}</string>
                <key>textureRect</key>
                <string>{{54,1192},{54,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feetBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{54,33}</string>
                <key>textureRect</key>
                <string>{{0,1225},{54,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feetGreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{54,33}</string>
                <key>textureRect</key>
                <string>{{54,1225},{54,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feetPink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,33}</string>
                <key>spriteSourceSize</key>
                <string>{51,33}</string>
                <key>textureRect</key>
                <string>{{0,1258},{51,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feetPurple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{54,33}</string>
                <key>textureRect</key>
                <string>{{51,1258},{54,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feetRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{54,33}</string>
                <key>textureRect</key>
                <string>{{0,1291},{54,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feetWhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{54,33}</string>
                <key>textureRect</key>
                <string>{{54,1291},{54,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handBlack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{0,1324},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{28,1324},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handGreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{56,1324},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handPink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{84,1324},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handPurple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{0,1352},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{28,1352},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handWhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{56,1352},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handYello.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{84,1352},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBlack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{0,1380},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{0,1462},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headGreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{0,1544},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headPink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{0,1626},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headPurple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{0,1708},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{0,1790},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headWhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{0,1872},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headYello.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{0,1954},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bodyColored.png</string>
            <key>size</key>
            <string>{112,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc7245e1773bb26a8b21bd144936b48e:7b8db70991e1a358f8a77da8d1dc3580:fd605103630a324c7919ab55909ae9e7$</string>
            <key>textureFileName</key>
            <string>bodyColored.png</string>
        </dict>
    </dict>
</plist>
