<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bodyBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,149}</string>
                <key>spriteSourceSize</key>
                <string>{97,149}</string>
                <key>textureRect</key>
                <string>{{0,127},{97,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bodyPink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,149}</string>
                <key>spriteSourceSize</key>
                <string>{98,149}</string>
                <key>textureRect</key>
                <string>{{97,127},{98,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bodyPurple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,149}</string>
                <key>spriteSourceSize</key>
                <string>{98,149}</string>
                <key>textureRect</key>
                <string>{{195,127},{98,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bodyYello.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,149}</string>
                <key>spriteSourceSize</key>
                <string>{97,149}</string>
                <key>textureRect</key>
                <string>{{293,127},{97,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceCross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{383,0},{39,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceEmoji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
				<string>{0.7,0.6}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,65}</string>
                <key>spriteSourceSize</key>
                <string>{54,65}</string>
                <key>textureRect</key>
                <string>{{0,45},{54,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,25}</string>
                <key>spriteSourceSize</key>
                <string>{58,25}</string>
                <key>textureRect</key>
                <string>{{0,0},{58,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feetYello.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{54,33}</string>
                <key>textureRect</key>
                <string>{{170,0},{54,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feetBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{54,33}</string>
                <key>textureRect</key>
                <string>{{224,0},{54,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feetPink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,33}</string>
                <key>spriteSourceSize</key>
                <string>{51,33}</string>
                <key>textureRect</key>
                <string>{{278,0},{51,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feetPurple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{54,33}</string>
                <key>textureRect</key>
                <string>{{329,0},{54,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{58,0},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handPink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{86,0},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handPurple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{114,0},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handYello.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{142,0},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{54,45},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headPink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{138,45},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headPurple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{222,45},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headYello.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{306,45},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bodyColored.png</string>
            <key>size</key>
            <string>{422,276}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caf55a7fde454fbd6a090dfbaed04ad0:3948afd4278513fc1d5d2fa3234abb97:fd605103630a324c7919ab55909ae9e7$</string>
            <key>textureFileName</key>
            <string>bodyColored.png</string>
        </dict>
    </dict>
</plist>
