<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,35}</string>
                <key>spriteSize</key>
                <string>{89,22}</string>
                <key>spriteSourceSize</key>
                <string>{89,22}</string>
                <key>textureRect</key>
                <string>{{12,0},{89,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackhat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,35}</string>
                <key>spriteSize</key>
                <string>{111,48}</string>
                <key>spriteSourceSize</key>
                <string>{111,48}</string>
                <key>textureRect</key>
                <string>{{0,133},{111,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,20}</string>
                <key>spriteSize</key>
                <string>{12,21}</string>
                <key>spriteSourceSize</key>
                <string>{12,21}</string>
                <key>textureRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{71,39}</string>
                <key>spriteSourceSize</key>
                <string>{71,39}</string>
                <key>textureRect</key>
                <string>{{0,47},{71,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitehat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,45}</string>
                <key>spriteSize</key>
                <string>{95,56}</string>
                <key>spriteSourceSize</key>
                <string>{95,56}</string>
                <key>textureRect</key>
                <string>{{0,181},{95,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13.6,0}</string>
                <key>spriteSize</key>
                <string>{38,45}</string>
                <key>spriteSourceSize</key>
                <string>{38,45}</string>
                <key>textureRect</key>
                <string>{{66,88},{38,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13.6,0}</string>
                <key>spriteSize</key>
                <string>{34,41}</string>
                <key>spriteSourceSize</key>
                <string>{34,41}</string>
                <key>textureRect</key>
                <string>{{71,47},{34,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{66,41}</string>
                <key>spriteSourceSize</key>
                <string>{66,41}</string>
                <key>textureRect</key>
                <string>{{0,88},{66,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{58,25}</string>
                <key>spriteSourceSize</key>
                <string>{58,25}</string>
                <key>textureRect</key>
                <string>{{0,22},{58,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{42,59}</string>
                <key>spriteSourceSize</key>
                <string>{42,59}</string>
                <key>textureRect</key>
                <string>{{0,237},{42,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FACEnDEC.png</string>
            <key>size</key>
            <string>{111,296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:406cb8f38d775b83f7291fbc9dd8e385:96505f9f378ce0f6125ba799df49e1e3:89025084573596e03a292d7751fa0d0e$</string>
            <key>textureFileName</key>
            <string>face_and_hat.png</string>
        </dict>
    </dict>
</plist>
