<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MG_MP5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.45,0.53}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,52}</string>
                <key>spriteSourceSize</key>
                <string>{115,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{115,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MG_MP7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.54,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,64}</string>
                <key>spriteSourceSize</key>
                <string>{119,64}</string>
                <key>textureRect</key>
                <string>{{1,64},{119,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MG_P90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.29,0.43}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,61}</string>
                <key>spriteSourceSize</key>
                <string>{133,61}</string>
                <key>textureRect</key>
                <string>{{118,1},{133,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MG_Uzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.34,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,72}</string>
                <key>spriteSourceSize</key>
                <string>{129,72}</string>
                <key>textureRect</key>
                <string>{{122,64},{129,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MG.png</string>
            <key>size</key>
            <string>{252,137}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef3bb14b53bda4d57734f8c51a628648:fabd5307b1816307275d03537bb367a7:37945c3d125a4ee70ef132e98905cd51$</string>
            <key>textureFileName</key>
            <string>MG.png</string>
        </dict>
    </dict>
</plist>
