<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gatling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.06,0.7}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,106}</string>
                <key>spriteSourceSize</key>
                <string>{256,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MG_MP5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.44,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,72}</string>
                <key>spriteSourceSize</key>
                <string>{158,72}</string>
                <key>textureRect</key>
                <string>{{176,109},{158,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MG_MP7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.52,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,82}</string>
                <key>spriteSourceSize</key>
                <string>{155,82}</string>
                <key>textureRect</key>
                <string>{{336,96},{155,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MG_P90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.25,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,79}</string>
                <key>spriteSourceSize</key>
                <string>{173,79}</string>
                <key>textureRect</key>
                <string>{{1,109},{173,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MG_Uzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.35,0.6}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,93}</string>
                <key>spriteSourceSize</key>
                <string>{169,93}</string>
                <key>textureRect</key>
                <string>{{259,1},{169,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MG_gtl.png</string>
            <key>size</key>
            <string>{492,189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61d08c58a570f341ab8df633206f9124:aee4dd94a23cf5d3cfd67030005b8819:2734406c46076bb22455cbb8618f4628$</string>
            <key>textureFileName</key>
            <string>MG_gtl.png</string>
        </dict>
    </dict>
</plist>
