<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Player1_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,149}</string>
                <key>spriteSourceSize</key>
                <string>{98,149}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,149}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 4 5 2 3 4 0 2 5 0 1 2</string>
                <key>vertices</key>
                <string>98 149 0 149 0 25 7 5 28 0 98 0</string>
                <key>verticesUV</key>
                <string>99 150 1 150 1 26 8 6 29 1 99 1</string>
            </dict>
            <key>Player1_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{57,235},{39,45}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>39 45 0 45 0 0 39 0</string>
                <key>verticesUV</key>
                <string>96 280 57 280 57 235 96 235</string>
            </dict>
            <key>Player1_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{1,235},{54,34}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>54 34 0 34 0 0 54 0</string>
                <key>verticesUV</key>
                <string>55 269 1 269 1 235 55 235</string>
            </dict>
            <key>Player1_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1,271},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>28 28 0 28 0 0 28 0</string>
                <key>verticesUV</key>
                <string>29 299 1 299 1 271 29 271</string>
            </dict>
            <key>Player1_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,81}</string>
                <key>spriteSourceSize</key>
                <string>{84,81}</string>
                <key>textureRect</key>
                <string>{{1,152},{84,81}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 6 7 3 5 6 3 4 5 2 3 6 0 1 2 0 2 7</string>
                <key>vertices</key>
                <string>84 22 84 81 50 81 0 31 0 21 17 3 28 0 62 0</string>
                <key>verticesUV</key>
                <string>85 174 85 233 51 233 1 183 1 173 18 155 29 152 63 152</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Player1.png</string>
            <key>size</key>
            <string>{100,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57e44b20ecdf70dec60312334f25528d:d4aadc9fd13cd705601a73e0e60f4974:9236bfc4dc85f0a9b8c85f8a26bdf55f$</string>
            <key>textureFileName</key>
            <string>Player1.png</string>
        </dict>
    </dict>
</plist>
