<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>space_floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2193,1207}</string>
                <key>spriteSourceSize</key>
                <string>{2193,1207}</string>
                <key>textureRect</key>
                <string>{{0,0},{2193,1207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>space_planet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1308,1249}</string>
                <key>spriteSourceSize</key>
                <string>{1308,1249}</string>
                <key>textureRect</key>
                <string>{{2193,0},{1308,1249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>space_planet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1797,645}</string>
                <key>spriteSourceSize</key>
                <string>{1797,645}</string>
                <key>textureRect</key>
                <string>{{0,1249},{1797,645}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>space_support.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1901,1181}</string>
                <key>spriteSourceSize</key>
                <string>{1901,1181}</string>
                <key>textureRect</key>
                <string>{{1797,1249},{1901,1181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>space.png</string>
            <key>size</key>
            <string>{3698,2430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2496e047feb7ce5d4addfbb098e42d1a:06e781085f0cf05ee6a7565deebb7e53:061e1bbe47c75c5587a9fceb9f71eac9$</string>
            <key>textureFileName</key>
            <string>space.png</string>
        </dict>
    </dict>
</plist>
