<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SwordAura1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,208}</string>
                <key>spriteSourceSize</key>
                <string>{44,208}</string>
                <key>textureRect</key>
                <string>{{0,100},{44,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SwordAura2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,208}</string>
                <key>spriteSourceSize</key>
                <string>{44,208}</string>
                <key>textureRect</key>
                <string>{{44,100},{44,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SwordAura3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,208}</string>
                <key>spriteSourceSize</key>
                <string>{44,208}</string>
                <key>textureRect</key>
                <string>{{88,100},{44,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SwordAura4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,208}</string>
                <key>spriteSourceSize</key>
                <string>{44,208}</string>
                <key>textureRect</key>
                <string>{{132,100},{44,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sward1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,25}</string>
                <key>spriteSourceSize</key>
                <string>{222,25}</string>
                <key>textureRect</key>
                <string>{{0,0},{222,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sward2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,25}</string>
                <key>spriteSourceSize</key>
                <string>{222,25}</string>
                <key>textureRect</key>
                <string>{{0,25},{222,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sward3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,25}</string>
                <key>spriteSourceSize</key>
                <string>{222,25}</string>
                <key>textureRect</key>
                <string>{{0,50},{222,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sward4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,25}</string>
                <key>spriteSourceSize</key>
                <string>{222,25}</string>
                <key>textureRect</key>
                <string>{{0,75},{222,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>swardmodel.png</string>
            <key>size</key>
            <string>{222,308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3295930b6a9121df3c681002e44fae7b:a83d55a801c0eb90667d7992f2023a47:0f90cb436440e786dc8555de5cfababd$</string>
            <key>textureFileName</key>
            <string>swardmodel.png</string>
        </dict>
    </dict>
</plist>
